<!-- twapp/templates/twapp/member_tweets.html -->

{% extends "twapp/base.html" %}

{% block content %}
<div class="main-content">

    {% for tweet in tweets %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">{{tweet.memb.account.username}} | {{tweet.date}}</div>
        <div class="panel-body">
        <img class ="profile-pic" src="{% static 'images/awesome_profile.png' %}">
            <p>{{tweet.msg}}</p>
        </div>
    </div>
    {% endfor %}

</div> <!-- end main content -->
{% endblock content %}

