<!-- twapp/templates/twapp/member_list.html -->

{% extends "twapp/base.html" %}

{% block content %}
<div class="main-content">
    <h1>Twapp Users</h1>

{% for member in members %}
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-body">
        <img class ="profile-pic" src="../../static/images/awesome_profile.png">
        <a href="{% url 'twapp:member_tweets' member.id%}"><h2>{{member.account.username}}</h2>
      </div>
    </div>
{% endfor %}

</div> <!-- end main content -->
{% endblock content %}

