/* Main background image author from WikiMedia
   By Alvesgaspar - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=6368124
*/

body {
    background-color:#f5f8fa;
    padding-bottom:70px;
    padding-top: 70px;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color:#333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
}

header {
    color:#767676;
}

/* TODO: Change me */
header h1 {
    text-align:center;
}

.jumbotron {
    color:#fff;
    text-shadow: 0px 2px 5px #444;
    text-align: center;
    background-color:lightblue;
}

.main-content {
    width:80%;
    margin:auto;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 80vh;
    border-radius: 5px;
    min-height: 350px;
    min-width:275px;
    background-color:#fff;
    color:#000;
}

.main-content p {
    width:75%;
    margin:15px auto;
    font-size:1.5em;
}

.page-footer {
    position:fixed;
    bottom:0;
    padding:3px;
    width: 100%;
    background-color:#000;
    color:#fff;
    font-size:10pt;
}

.logo {
    background-color:#FFF;
    padding:10px;
    margin-left:0px 20px;
    display:inline-block;
}

.right-nav {
    
}